<footer class="text-center p-3">
  <p>© Footer 2025</p>
  <div>
    <a href="https://www.facebook.com" target="_blank">
      <img src="/imagens/facebook.png" alt="Facebook" width="30">
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img src="/imagens/instagram.png" alt="Instagram" width="30">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="/imagens/twitter.png" alt="Twitter" width="30">
    </a>
  </div>
</footer>