<link rel="stylesheet" href="/css/equipe.css" />
<link rel="stylesheet" href="/css/navbar.css">


<%- include('./partials/navbar') %>

<h1>Curso ADMINISTRAÇÃO</h1>

<div class="container">
    <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/09/GGFD0251-Modular-informatica-ETEC-SP-scaled.jpg" alt=" Imagem do curso" class="img-fluid mb-4">
    <p>Como funcionam as organizações, desde empresas privadas até ONGs, passando por órgãos públicos, comércio e indústria. 
        O estudante vai precisar de conhecimentos de língua portuguesa, matemática, história e geografia para compreender os principais assuntos do curso, como história da administração, 
        evolução das organizações ao longo do tempo, contabilidade, leis que regulam o funcionamento das empresas e redação de documentos.
        O aluno vai aprender ainda a analisar as chances de um negócio ou produto ser bem-sucedido e o comportamento do consumidor.
        Estudará também técnicas de atendimento ao cliente, empreendedorismo (iniciativas para realizar novos negócios) e como uma organização planeja alcançar seus objetivos e define suas metas para o futuro.
        O candidato que ingressar no curso técnico de Administração, na modalidade AMS, poderá prosseguir os estudos em uma Fatec no curso superior de tecnologia em Processos Gerenciais.</p>
        <br>
        <br>
    <p>Duração do curso: 3 anos (integrado ao ensino médio)
        Período: Vespertino
        Modalidade: AMS (Articulada ao Ensino Médio)
        Vagas: 40 por turma
        Local: Etec Martinho di Ciero</p>
</div>
<br>
<br>
<br>
<%- include('./partials/footer') %>