<link rel="stylesheet" href="/css/pagds.css" />
<link rel="stylesheet" href="/css/navbar.css">


<%- include('./partials/navbar') %>

<h1>Curso DESENVOLVIMENTO DE SISTEMAS</h1>

<div class="container">
    <img src="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2020/09/GGFD0251-Modular-informatica-ETEC-SP-scaled.jpg" alt=" Imagem do curso" class="img-fluid mb-4">
    <p>Desenvolvimento de Sistemas
        É o profissional que analisa e projeta sistemas.
        Constrói, documenta, realiza testes e mantém sistemas de informação.
        Utiliza ambientes de desenvolvimento e linguagens de programação específica. Modela, implementa e mantém bancos de dados.
        O candidato que ingressar no curso técnico de Desenvolvimento de Sistemas, na modalidade AMS, 
        poderá prosseguir os estudos em uma Fatec no curso superior de tecnologia em Análise e Desenvolvimento de Sistemas.</p>
        <br>
        <br>
    <p>Duração do curso: 3 anos (integrado ao ensino médio)
        Período: Vespertino
        Modalidade: AMS (Articulada ao Ensino Médio)
        Vagas: 40 por turma
        Local: Etec Martinho di Ciero</p>
        <br>
</div>
<br>
<br>
<br>