<link rel="stylesheet" href="/css/categorias.css" />
<h1>Add Cadastro de usuário</h1>
<link rel="stylesheet" href="/css/addCategorias.css" />
<form action="/cadastros/add" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" required>
    <label for="nome">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
    <label for="nome">Senha</label>
    <input type="password" class="form-control" id="senha" name="senha" required>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>