<link rel="stylesheet" href="/css/categorias.css" />
<h1>Add Aluno</h1>
<link rel="stylesheet" href="/css/addCategorias.css" />
<form action="/alunos/add" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" name="nome" required>
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>